@using CunePress.Models
@{
    ViewData["Title"] = "CUSTOMER HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/combobox/common/combobox.css" asp-append-version="true">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.2/css/select.dataTables.min.css" asp-append-version="true">
    <style>
        .subheader-title {
            font-weight: normal;
            font-size: 22px;
            margin-left: 25px;
            margin-top: 20px;
        }

        .subheader-company {
            font-weight: normal;
            font-size: 12px;
            margin-left: 25px;
        }

        .subheader-table {
            position: absolute;
            top: 10px;
            right: 5px;
        }

        body {
            background-color: #5a585b;
        }

        .combo-width {
            width: 200px;
        }

    </style>
}
@section SUBHEADER {
    <subheader>
        <div class="col-md-6">
            <p class="text-white subheader-title">@ViewData["Title"]</p>
            <div class="d-flex">
                <div>
                    <label class="text-white subheader-company font-12" style="padding: 3px;">Select Company: </label>
                    <select class="ml-2 font-12">
                        <option selected>Cune Press</option>
                        <option>Kinesis Construction</option>
                        <option>Cune MultiSite</option>
                    </select>
                </div>
                <div>
                    <label class="text-white subheader-company font-12" style="padding: 3px;">Display Filters: </label>
                    <select class="ml-2 font-12">
                        <option selected>Frequent</option>
                        <option> - All - </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="subheader-table">
                <tr>
                    <td align="left" valign="top" style="border-left: 1px solid white;">
                        <a href="#" class="font-12 text-white">Create an Invoice</a><br />
                        <a href="#" class="font-12 text-white">View All Deleted Invoices</a><br />
                        <a href="#" class="font-12 text-white">View Deleted Invoices - Current Customer</a>
                    </td>
                    <td align="left" valign="top" style="border-left: 1px solid white;">
                        <a href="#" class="font-12 text-white">Statements</a><br />
                        <a href="#" class="font-12 text-white">Dashboard</a><br />
                        <a href="#" class="font-12 text-white">Sales Reports</a>
                    </td>
                </tr>
            </table>
        </div>
    </subheader>
}

<div class="row bg-white">
    <div class="panel-title">
        <span class="font-15 text-white ml-3" style="font-weight: 500; line-height: 40px;">FILTERS</span>
    </div>
    <div class="col-md-12">
        <table class="filter-table m-4" style="width: 100%;">
            <tr>
                <td width="200px" align="right">
                    <span class="font-12">Search Customer :</span>
                </td>
                <td>
                    <button class="btn btn-primary font-12" style="height: 20px; margin-left: 8px; padding: 0px 10px;">...</button>
                    <span class="font-12">Last</span>, <span class="font-12">First</span>
                    <span class="font-12 ml-1">Organization: </span><span class="font-12">Ingram Book Company</span>
                    <button class="btn btn-primary font-12 ml-5" style="height: 20px; margin-left: 8px; padding: 0px 10px;">...</button>
                    <span class="font-12">Contact Admin for Current Customer</span>
                </td>
            </tr>
            <tr height="30px"></tr>
            <tr>
                <td align="right">
                    <span class="font-12">Display Invoices :</span>
                </td>
                <td>
                    <div style="width: 250px; margin-left: 10px; margin-top: 5px;">
                        <label class="container">
                            All
                            <input type="radio" name="d_invoice" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Unpaid
                            <input type="radio" name="d_invoice">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Unpaid (+values only) Terms: 90
                            <input type="radio" name="d_invoice">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Overdue
                            <input type="radio" name="d_invoice">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top" style="padding-top: 29px;">
                    <span class="font-12">Invoices Range : # + Date</span>
                </td>
                <td>
                    <div class="d-flex" style="width: 100px; margin-left: 10px; margin-top: 5px;">
                        <label class="container" style="margin-top: 28px;">
                            #
                            <input type="radio" name="d_#" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <div class="d-flex" style="padding-top: 28px;">
                            <label class="font-12">From: </label>
                            <input type="text" class="ml-1 pl-1" style="width: 120px; height: 20px;" />
                        </div>
                        <div class="d-flex" style="padding-top: 28px;">
                            <label class="font-12 ml-2">To: </label>
                            <input type="text" class="ml-1 pl-1" style="width: 120px; height: 20px;" />
                        </div>
                        <div class="ml-3">
                            <label class="font-12 mb-1">Invoices</label>
                            <input type="text" class="pl-1" style="width: 120px; height: 20px;" />
                            <label class="container mt-1">
                                Return
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="ml-3">
                            <label class="font-12 mb-1">Purchase Order</label>
                            <input type="text" class="pl-1" style="width: 120px; height: 20px;" />
                            <label class="container mt-1">
                                Claim(PC/SC)
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="ml-3">
                            <label class="font-12 mb-1">Sales $</label>
                            <input type="text" class="pl-1" style="width: 120px; height: 20px;" />
                            <label class="container mt-1">
                                Fee
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="ml-3">
                            <label class="font-12 mb-1">Advice</label>
                            <input type="text" class="pl-1" style="width: 120px; height: 20px;" />
                            <label class="container mt-1">
                                Promo
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex mt-1">
                        <a href="#" class="font-12 home-link-color" style="margin-left: 385px; margin-right: 10px;">Default Start Date</a>
                        <input type="text" class="pl-1" style="width: 120px; height: 20px;" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <div class="d-flex mt-3" style="width: 100px; margin-left: 10px; margin-top: 5px;">
                        <button class="btn btn-primary font-12" style="height: 30px; margin-left: 8px; padding: 0px 20px;">Filter</button>
                        <button class="btn btn-primary font-12" style="height: 30px; margin-left: 8px; min-width: 100px; padding: 0px 20px;">Show All</button>
                        <button class="btn btn-primary font-12 ml-3" style="height: 30px; margin-left: 8px; padding: 0px 20px;">Export</button>
                        <select class="ml-2 font-12" style="height: 30px">
                            <option selected>Excel</option>
                            <option>Print</option>
                            <option>HTML</option>
                            <option>PDF</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" asp-append-version="true"></script>
    <script>
        $('#example').DataTable({
            searching: false,
            ordering: false,
            columnDefs: [
                {
                    className: 'select-checkbox',
                    targets: 0
                },
                {
                    "width": "40px",
                    "targets": 1
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
    </script>
}