@using CunePress.Models
@{
    ViewData["Title"] = "View Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="~/combobox/common/combobox.css" asp-append-version="true">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.2/css/select.dataTables.min.css" asp-append-version="true">
    <style>
        .subheader-title {
            font-weight: bold;
            font-size: 30px;
            margin-left: 25px;
            margin-top: 18px;
        }

        .subheader-company {
            font-weight: normal;
            font-size: 12px;
            margin-left: 25px;
        }

        .subheader-table {
            position: absolute;
            top: 10px;
            right: 5px;
        }

        body {
            background-color: #5a585b;
        }

        .combo-width {
            width: 200px;
        }
    </style>
}
@section SUBHEADER {
    <subheader>
        <div class="col-md-6">
            <p class="text-white subheader-title">@ViewData["Title"]</p>
            <div class="d-flex">
                <span class="text-white subheader-company font-12" style="padding: 3px;">Company: </span>
                <select class="ml-2 font-12">
                    <option selected>Cune Press</option>
                    <option>Kinesis Construction</option>
                    <option>SCD Photography</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <table class="subheader-table">
                <tr>
                    <td align="left" valign="top" style="border-left: 1px solid white;">
                        <a href="#" class="font-12 text-white">View Meta Items</a><br />
                        <a href="#" class="font-12 text-white">Sales Report - PXI(Productx Invoices)</a>
                    </td>
                    <td align="left" valign="top" style="border-left: 1px solid white;">
                        <a href="#" class="font-12 text-white">Dashboard - Sales x Product</a><br />
                        <a href="#" class="font-12 text-white">Dashboard - Sales x Customer</a><br />
                        <a href="#" class="font-12 text-white">Dashboard - Sales x Customer Type</a>
                    </td>
                </tr>
            </table>
        </div>
    </subheader>
}

<div class="row bg-white">
    <div class="panel-title">
        <span class="font-15 text-white ml-3" style="font-weight: 500; line-height: 40px;">FILTERS</span>
    </div>
    <div class="col-md-6">
        <table class="filter-table m-4" style="width: 100%;">
            <tr>
                <td width="200px" align="right">
                    <span class="font-12 font-weight-bold">Product Filters</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Type :</span>
                </td>
                <td>
                    <select class="ml-2 font-12 combo-width">
                        <option selected>Books</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Series :</span>
                </td>
                <td>
                    <select class="ml-2 font-12 combo-width">
                        <option selected>Cune Classics</option>
                        <option>Cune Press</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Year :</span>
                </td>
                <td>
                    <select class="ml-2 font-12 combo-width">
                        @for (int i = 1994; i < 2022; i++)
                        {
                            @if (i == 2021)
                            {
                                <option selected>@i</option>
                            }
                            else
                            {
                                <option>@i</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Season :</span>
                </td>
                <td>
                    <select class="ml-2 font-12 combo-width">
                        <option selected>Fall</option>
                        <option>Spring</option>
                        <option>Winter</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Availability :</span>
                </td>
                <td>
                    <select class="ml-2 font-12 combo-width">
                        <option selected>AC</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Display Only :</span>
                </td>
                <td>
                    <div style="width: 100px; margin-left: 10px; margin-top: 5px;">
                        <label class="container">
                            Hardback
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Paperback
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            eBooks
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Kindle
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">
                            Galley
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Display Input Template :</span>
                </td>
                <td>
                    <button class="btn btn-gray font-12" style="height: 24px; margin: 5px 10px; padding: 5px 10px;">...</button>
                </td>
            </tr>
            <tr>
                <td align="right">
                </td>
                <td>
                    <button class="btn btn-gray font-14" style="height: 26px; margin: 10px; padding: 0px 10px;">Submit</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="filter-table m-4" style="width: 100%;">
            <tr>
                <td colspan="2">
                    <a href="#" class="font-12 font-weight-bold home-link-color ml-5">Meta Data x Product</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="#" class="font-12 font-weight-bold home-link-color ml-5">Sales Snapshot x Product</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="#" class="font-12 font-weight-bold home-link-color ml-5">Royalties Snapshot x Product</a>
                </td>
            </tr>
            <tr height="50px"></tr>
            <tr>
                <td width="200px" align="right">
                    <span class="font-12 font-weight-bold">Catalogs</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Selet a Catalog :</span>
                </td>
                <td>
                    <button class="btn btn-gray font-12" style="height: 24px; margin: 2px; padding: 5px 10px;">...</button>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Create a Catalog :</span>
                </td>
                <td>
                    <button class="btn btn-gray font-12" style="height: 24px; margin: 2px; padding: 5px 10px;">...</button>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Display a Catalog :</span>
                </td>
                <td>
                    <button class="btn btn-gray font-12" style="height: 24px; margin: 2px; padding: 0px 10px;">Submit</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row bg-white">
    <div class="panel-title">
        <span class="font-15 text-white ml-3" style="font-weight: 500; line-height: 40px;">
            FILTER RESULTS : Books | Qune Classics | 2021 | Fall | AC | Hardback, Paperback
        </span>
    </div>
    <div class="col-md-6">
        <table class="filter-table m-4" style="width: 100%;">
            <tr>
                <td width="200px" align="right">
                    <span class="font-12">Items  :</span>
                </td>
                <td>
                    <span class="font-12">
                        Enroll or Remove from data table Group below
                    </span>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Select - Unselect Group :</span>
                </td>
                <td>
                    <label class="container" style="margin-top: 5px; margin-bottom: 0px;">
                        &nbsp;
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Multiple Objects :</span>
                </td>
                <td>
                    <a href="#" class="font-12 home-link-color">Enroll</a>
                    <a href="#" class="font-12 home-link-color ml-5"> Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="filter-table m-4" style="width: 100%;">
            <tr>
                <td width="200px" align="right">
                    <span class="font-12">Export Options :</span>
                </td>
                <td>
                    <a href="#" class="font-12 home-link-color"> Header Text</a>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Format :</span>
                </td>
                <td>
                    <label class="container">
                        Paragraph
                        <input type="radio" name="radio_format">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Details
                        <input type="radio" name="radio_format">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Selection :</span>
                </td>
                <td>
                    <label class="container">
                        Selected Catalog
                        <input type="radio" name="selection">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Group
                        <input type="radio" name="selection">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Selected Books
                        <input type="radio" name="selection">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span class="font-12">Export To :</span>
                </td>
                <td>
                    <label class="container">
                        Word.doc
                        <input type="radio" name="export_to">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Xlsx format
                        <input type="radio" name="export_to">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Xls format
                        <input type="radio" name="export_to">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Csv format (comma delimited)
                        <input type="radio" name="export_to">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Text format (tab delimited)
                        <input type="radio" name="export_to">
                        <span class="checkmark"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td align="right">
                </td>
                <td>
                    <button class="btn btn-gray font-14" style="height: 26px; margin: 10px; padding: 0px 10px;">Export</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 mb-4">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>DO/Save</th>
                    <th>TID</th>
                    <th>BID</th>
                    <th>Binding</th>
                    <th>Series</th>
                    <th>Year</th>
                    <th>Season</th>
                    <th>Stock x WH</th>
                    <th>12 M</th>
                    <th>Prv Yr</th>
                    <th>Sales</th>
                    <th>ISBN 13</th>
                    <th>List $</th>
                    <th>Awail</th>
                    <th>Meta</th>
                    <th>Delete</th>
                    <th>View Deleted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="book"></td>
                    <td><img src="~/anastasia.jpg" width="38px" height="60px" style="margin-left: 8px;" /></td>
                    <td>0</td>
                    <td>354</td>
                    <td><a class="home-link-color" href="#">PDS</a></td>
                    <td>A Pen of Damascus Steel</td>
                    <td></td>
                    <td>Ali Ferzat</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="home-link-color" href="#">Delete</a></td>
                    <td><a class="home-link-color" style="padding-left: 15px; padding-right: 15px;" href="#">View</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>66</td>
                    <td>Hardback</td>
                    <td>Cune Classics</td>
                    <td>2021</td>
                    <td>Fall</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>1</td>
                    <td>3</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>9781885942388</td>
                    <td>34.95</td>
                    <td>AC</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>67</td>
                    <td>Paperback</td>
                    <td>Cune Classics</td>
                    <td>2021</td>
                    <td>Fall</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>12</td>
                    <td>14</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>9781885942395</td>
                    <td>17.95</td>
                    <td>AC</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="book"></td>
                    <td><img src="~/anastasia.jpg" width="38px" height="60px" style="margin-left: 8px;" /></td>
                    <td>0</td>
                    <td>528</td>
                    <td><a class="home-link-color" href="#">YEJ</a></td>
                    <td>A Year at the Edge of the Jungle</td>
                    <td></td>
                    <td>Frederic Hunter</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="home-link-color" href="#">Delete</a></td>
                    <td><a class="home-link-color" style="padding-left: 15px; padding-right: 15px;" href="#">View</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>66</td>
                    <td>Hardback</td>
                    <td>Cune Classics</td>
                    <td>2021</td>
                    <td>Fall</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>1</td>
                    <td>3</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>9781885942388</td>
                    <td>34.95</td>
                    <td>AC</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>67</td>
                    <td>Paperback</td>
                    <td>Cune Classics</td>
                    <td>2021</td>
                    <td>Fall</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>12</td>
                    <td>14</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td>9781885942395</td>
                    <td>17.95</td>
                    <td>AC</td>
                    <td><a class="home-link-color" href="#">Link</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" asp-append-version="true"></script>
    <script>
        $('#example').DataTable({
            searching: false,
            ordering: false,
            columnDefs: [
                {
                    className: 'select-checkbox',
                    targets: 0
                },
                {
                    "width": "40px",
                    "targets": 1
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });
    </script>
}