
/* Standard Page Structure */
.no-display {
    display: none;
}

content {
    max-width: 100%;
}

main {
    padding: 20px 40px;
}

header {
    display: flex;
    height: 90px;
    /*background-color: #527D21;*/
    background-image: linear-gradient(to right, #527D21, #88CC33);
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 25px;
}

    .header-title > a {
        color: white;
    }
    
    .header-title > span {
        font-weight: normal;
        font-size: 22px;
    }

.header-button-group {
    position: absolute;
    height: 25px;
    top: 61px;
}

    .header-button-group > a {
        background-color: #D2EBBC;
        color: black;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
    }

        .header-button-group > a:hover {
            background-color: #b4e885;
        }
.header-user-info {
    display: flex;
    position: absolute;
    height: 60px;
    top: 3px;
    right: 80px;
}
    .header-user-info > .user-name {
        color: #ffff00;
        font-weight: bold;
        margin-top: 17px;
        margin-left: 7px;
    }

menu {
    width: 100%;
    padding: 0;
    margin: 0;
}

subheader {
    display: flex;
    height: 100px;
    background-color: #5A585B;
}

    subheader > span {
        font-weight: normal;
        font-size: 22px;
        margin-left: 35px;
        margin-top: 35px;
    }

a:hover {
    text-decoration: none;
}

.text-white {
    color: white;
}

.dhx_menu-nav {
    padding: 0 25px;
}

.dhx_menu-nav__item > .dhx_nav-menu-button, .dhx_menu-button, .dhx_menu-button__caret {
    color: white;
}

.dhx_menu-button {
    font-size: 13px;
    padding: 5px 10px;
}

.dhx_menu-button--active:not(:disabled), .dhx_menu-button:active:not(:disabled), .dhx_menu-button:focus:not(:disabled), .dhx_menu-button:hover:not(:disabled) {
    background-color: black;
    color: #ecec33
}

ul.dhx_widget {
    background-color: black;
}

.dhx_widget--bg_dark--context-menu {
    background-color: black;
}

.dhx_menu-button--disabled *, .dhx_menu-button:disabled * {
    color: white;
}


.dhx_form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.home-border {
    border: 2px solid #00697C;
}
.home-link-color {
    color: #00739B;
}
.font-11 {
    font-size: 11px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}

.right-panel {
    width: calc(100% - 250px);
    margin-left: 10px;
}

td {
    padding: 0px 10px;
}

.dhx_toolbar {
    background-image: linear-gradient(to right, #527D21, #88CC33);
}

.dhx_window .dhx_window-header .dhx_toolbar {
    padding: 5px 28px 3px;
}

.dhx_window-content {
    color: black;
}

.dhx_navbar-title--toolbar {
    color: white;
}