
/* Standard Page Structure */
.no-display {
    display: none;
}

content {
    max-width: 100%;
}

main {
    padding: 20px 40px;
}

header {
    display: flex;
    height: 90px;
    /*background-color: #527D21;*/
    background-image: linear-gradient(to right, #527D21, #88CC33);
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 25px;
}

    .header-title > a {
        color: white;
    }
    
    .header-title > span {
        font-weight: normal;
        font-size: 22px;
    }

.header-button-group {
    position: absolute;
    height: 25px;
    top: 61px;
}

    .header-button-group > a {
        background-color: #D2EBBC;
        color: black;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
    }

        .header-button-group > a:hover {
            background-color: #b4e885;
        }
.header-user-info {
    display: flex;
    position: absolute;
    height: 60px;
    top: 3px;
    right: 80px;
}
    .header-user-info > .user-name {
        color: #ffff00;
        font-weight: bold;
        margin-top: 17px;
        margin-left: 7px;
    }

menu {
    width: 100%;
    padding: 0;
    margin: 0;
}

subheader {
    display: flex;
    height: 100px;
    background-color: #5A585B;
}

a:hover {
    text-decoration: none;
}

.dhx_menu-nav {
    padding: 0 25px;
}

.dhx_menu-nav__item > .dhx_nav-menu-button, .dhx_menu-button, .dhx_menu-button__caret {
    color: white;
}

.dhx_menu-button {
    font-size: 13px;
    padding: 5px 10px;
}

.dhx_menu-button--active:not(:disabled), .dhx_menu-button:active:not(:disabled), .dhx_menu-button:focus:not(:disabled), .dhx_menu-button:hover:not(:disabled) {
    background-color: black;
    color: #ecec33
}

#menu-config > ul.dhx_widget {
    background-color: black;
}
.dhx_widget--bg_dark--context-menu > ul.dhx_widget {
    background-color: black;
}

.dhx_widget--bg_dark--context-menu {
    background-color: black;
}

.dhx_menu-button--disabled *, .dhx_menu-button:disabled * {
    color: white;
}


.dhx_form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.home-border {
    border: 2px solid #00697C;
}
.home-link-color {
    color: #00739B;
}
.font-11 {
    font-size: 11px;
}
.font-12 {
    font-size: 12px;
}
.font-13 {
    font-size: 13px;
}
.font-14 {
    font-size: 14px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}

.right-panel {
    width: calc(100% - 250px);
    margin-left: 10px;
}

td {
    padding: 0px 10px;
}

.dhx_toolbar {
    background-image: linear-gradient(to right, #527D21, #88CC33);
}

.dhx_window .dhx_window-header .dhx_toolbar {
    padding: 5px 28px 3px;
}

.dhx_window-content {
    color: black;
}

.dhx_navbar-title--toolbar {
    color: white;
}

.panel-title {
    height: 40px;
    background-image: linear-gradient(to right, #527D21, #88CC33);
    width: 100%;
}

.filter-table > tbody > tr {
    height: 28px;
}


label.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    label.container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
label.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
label.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dataTable {
    font-size: 12px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #FB9678 !important;
    border: none !important;
    background: none !important;
    background-color: #E9ECEF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: none !important;
    background: none !important;
    background-color: #FB9678 !important;
}

.paginate_button {
    background: none !important;
    color: #FB9678 !important;
    padding: 5px 10px !important;
    border: none !important;
}

    .paginate_button:active {
        background: none !important;
        color: white !important;
        outline: none !important;
        border: none !important;
        background-color: #f5ae99 !important;
    }

    .paginate_button:focus {
        background: none !important;
        outline: none !important;
        border: none !important;
    }
    .paginate_button:active {
        background: none !important;
        outline: none !important;
        border: none !important;
    }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ddd !important;
}

.dataTables_info, .dataTables_length, .example_filter, .dataTables_filter {
    font-size: 13px !important;
}

table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    margin-top: -25px !important;
}

table.dataTable tbody td.book:before {
    margin-top: 20px !important;
}

table.dataTable tr.selected td.book:after {
    margin-top: 0px !important;
}

input:focus {
    outline: none !important
}