@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section CSS {
    <link rel="stylesheet" href="~/form/common/form.css" asp-append-version="true">
}

<div class="row">
    <div class="col-md-12 text-center">
        <section style="max-width: 600px; margin: auto;">
            <form id="account" class="dhx_widget dhx_widget--bordered dhx_widget--bg_gray dhx_form" method="post" style="padding: 20px;">
                <h2 class="text-center">@ViewData["Title"]</h2>
                <div asp-validation-summary="All" class="text-danger text-left"></div>
                <div class="dhx_form-group">
                    <label asp-for="Input.Email" class="dhx_label"></label>
                    <input asp-for="Input.Email" class="dhx_input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="dhx_form-group">
                    <label asp-for="Input.Password" class="dhx_label"></label>
                    <input asp-for="Input.Password" class="dhx_input" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="dhx_form-group text-right">
                    <button type="submit" class="btn btn-primary" style="width: 150px">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
    </script>
}
