@{
    ViewData["Title"] = "Home Page";
}

@section CSS {
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/calendar/common/calendar.css" asp-append-version="true">
    <style>
        #cke_editor {
            margin: 20px 15px;
            width: 100%;
        }
    </style>
}
<div class="d-flex">
    <label class="" style="color: blue; font-size: 15px; font-weight: 500; width: 265px;">@ViewData["date"]</label>
    <div>
        <div class="row">
            <div class="col-md-auto">
                <a href="#" class="font-12 font-weight-bold home-link-color">Admin Edit</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="font-12 font-weight-bold home-link-color">Range</a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    <div id="calendar_container">
        <div id="calendar"></div>
        <div class="mt-2">
            <a href="#" class="font-12 font-weight-bold home-link-color mt-2" onclick="showRQD()">View Required Book Data</a>
        </div>
    </div>
    <div class="right-panel">
        <div class="home-border" style="width: 100%; padding: 5px 5px;">
            <table style="width: 100%;">
                <tr>
                    <td colspan="2">
                        <span class="font-12 font-weight-bold text-black">CUNE PRESS RECEIVABLES</span>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" onclick="showNote()" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>$</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Receivables</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Income Not Processed</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Overdues</a>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>Aging</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">0 - 89</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">90 - 269</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">270 - 768</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">769+</a>
                    </td>
                </tr>
            </table>
            <table style="width: 100%;border: 1px solid #909090;">
                <tr>
                    <td width="400px" align="right">
                        <span class="font-12 font-weight-bold">Palestinian Authority :</span>
                    </td>
                    <td width="150px">
                        <span class="font-12 font-weight-bold">9,500.00</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="font-12 font-weight-bold">Amazon.com Services, Inc. :</span>
                    </td>
                    <td>
                        <span class="font-12 font-weight-bold">4,090.68</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="font-12 font-weight-bold">Patricia Martin Holt Enterprises :</span>
                    </td>
                    <td>
                        <span class="font-12 font-weight-bold">3,127.40</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="font-12 font-weight-bold">Without Shelter :</span>
                    </td>
                    <td>
                        <span class="font-12 font-weight-bold">2,800.00</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="font-12 font-weight-bold">WRMEA Middle East Books and More :</span>
                    </td>
                    <td>
                        <span class="font-12 font-weight-bold">1,104.45</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <span class="font-12 font-weight-bold">Politics and Prose :</span>
                    </td>
                    <td>
                        <span class="font-12 font-weight-bold">960.00</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right" style="border-top: 1px solid #909090;">
                        <span class="font-12 font-weight-bold">Total :</span>
                    </td>
                    <td style="border-top: 1px solid grey;">
                        <span class="font-12 font-weight-bold">21,582.53</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="#" class="font-12 font-weight-bold home-link-color">Show All</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="home-border" style="width: 100%; padding: 5px 5px; margin-top: 5px;">
            <table style="width: 100%;">
                <tr>
                    <td colspan="2">
                        <span class="font-12 font-weight-bold text-black">
                            CUNE PRESS SALES & ANALYSIS
                        </span>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>
                                    Sales Reports
                                </span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Sales x Cust Type</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Sales x Cust</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Sales x Prod</a>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>Amazon</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Sales Rank</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Rank x Subject</a>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>Top Dozen</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Last 30 days</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Last 90 days</a>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>Cash Flow</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Income x Source</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Income x Sales</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color">Income x Other</a>
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <div style="display: flex; align-items: center;">
                            <a href="#" class="font-12 font-weight-bold home-link-color" style="display: contents;">
                                <span>Cost vs Income</span>
                                <span style="border-bottom: 2px dotted #00697C; flex: 1">&nbsp;</span>
                                <span>:</span>
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="font-12 font-weight-bold home-link-color">Current Year</a> |
                        <a href="#" class="font-12 font-weight-bold home-link-color"> Last 5 Years</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <a href="#" class="font-12 font-weight-bold home-link-color">Web Traffic</a>
            </div>
        </div>
        <div class="home-border" style="width: 100%; padding: 5px 5px;">
            <table style="width: 100%;">
                <tr>
                    <td colspan="2">
                        <span class="font-12 font-weight-bold home-link-color">
                            Cune Press Website
                        </span>
                    </td>
                </tr>
                <tr>
                    <td width="200px" align="right">
                        <span class="font-12 font-weight-bold"></span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">Today</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">Last Week</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">Last Month</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td width="200px" align="right">
                        <span class="font-12 font-weight-bold" style="color:#078BEF;">Page Views:</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td width="200px" align="right">
                        <span class="font-12 font-weight-bold" style="color:#078BEF;">Visits:</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td width="200px" align="right">
                        <span class="font-12 font-weight-bold" style="color:#078BEF;">Unique Visitors:</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td width="100px" align="center">
                        <span class="font-12 font-weight-bold home-link-color">0</span>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div id="editor" style="margin-left: 25px; margin-top: 10px"></div>
        </div>
    </div>
</div>
<div id="view_required_window" style="display: block; background-color: #bdbdbd;">
    <table style="width: 100%;">
        <tr>
            <td width="100px" align="right">
                <span class="font-12 font-weight-bold">Season :</span>
            </td>
            <td>
                <select class="ml-2 font-12" style="width: 100px; height: 25px;">
                    <option selected>Fall</option>
                    <option>Spring</option>
                    <option>Winter</option>
                </select>
            </td>
        </tr>
        <tr height="10px">
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td width="100px" align="right">
                <span class="font-12 font-weight-bold">Year :</span>
            </td>
            <td>
                <select class="ml-2 font-12" style="width: 100px; height: 25px;">
                    @for (int i = 1994; i < 2022; i++)
                    {
                        @if (i == 2021)
                        {
                            <option selected>@i</option>
                        }
                        else
                        {
                            <option>@i</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">
            </td>
            <td>
                <button class="btn btn-gray font-14" style="height: 26px; margin: 10px; padding: 0px 10px;">Submit</button>
            </td>
        </tr>
    </table>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Required 14 Items</th>
                <th>Advisable Data 12 Items</th>
                <th>Useful Data 10 Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DWD</td>
                <td><span class="font-weight-bold text-black">14</span><span class="font-weight-bold text-black"> (0)</span></td>
                <td><span class="font-weight-bold text-black">10</span><span class="font-weight-bold text-danger"> (2)</span></td>
                <td><span class="font-weight-bold text-black">3</span><span class="font-weight-bold text-danger"> (7)</span></td>
            </tr>
            <tr>
                <td>STO</td>
                <td><span class="font-weight-bold text-black">13</span><span class="font-weight-bold text-danger"> (1)</span></td>
                <td><span class="font-weight-bold text-black">8</span><span class="font-weight-bold text-danger"> (4)</span></td>
                <td><span class="font-weight-bold text-black">5</span><span class="font-weight-bold text-danger"> (5)</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="note_window" style="display: none;">
    <p class="font-12 font-weight-bold mb-0">Receivables:</p>
    <p class="font-12">
        This is the $ total of unpaid invoices minus income that we have received but not yet processed.
    </p>
    <p class="font-12 font-weight-bold mb-0">Income Not Processed:</p>
    <p class="font-12">
        Income (eg. an ach transfer or a check) that has not yet been applied to invoices. See also: the IH (Income Home) page.
    </p>
    <p class="font-12 font-weight-bold mb-0">Overdue:</p>
    <p class="font-12">
        Invoices that are past due for payment minus income that we have received but not yet processed. See also: the Aged Statements on the CH page; the Aging summary above the invoice table on the CH page.
    </p>
</div>
@section Scripts {
    <script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
        var calendar = new dhx.Calendar("calendar", {
            css: "home-border",
            width: "250px",
            height: "250px",
            value: new Date('@ViewData["date"]')
        });
        $('#example').DataTable({
            searching: false,
            ordering: false,
            paging: false,
            info: false,
            columnDefs: [
                { "className": "dt-center", "targets": "_all" }
            ]
        });
        function showNote() {
            var dhxWindow = new dhx.Window({ width: 440, height: 320, title: "$ NOTE", movable: true, closable: true, modal: true });
            dhxWindow.show();
            dhxWindow.attachHTML($("#note_window").html());
        }
        function showRQD() {
            var dhxWindow = new dhx.Window({ width: 700, height: 500, title: "Book Data", movable: true, closable: true, modal: true });
            dhxWindow.show();
            dhxWindow.attachHTML($("#view_required_window").html());
        }
    </script>
}
